.number{
    padding: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: initial;
    transition: background .4s ease-in-out;
    border-radius: 5px;

}

.number:hover{
    background: rgba(255, 255, 255, .4);
}

.number h1{
    font-size: clamp(1rem, 2vw, 1.4rem);
}

.number h3{
    font-size: clamp(.8rem, 1vw, 1.2rem);
}