.Home{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hr-bottom{
    width: 100%;
    max-width: 400px;
    height: 15px;
    background: tomato;
    border-radius: 0 0 3px 3px;
    border:none;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}