.Repos{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.Repos h1{
    text-align: center;
    font-size: clamp(1rem, 1.4vw, 2rem);
}

.Repos h1 span{
    text-transform: capitalize;
}